@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{ 
	font-family: 'Roboto', serif;
	font-size: 18px;
	background-color: #1a1a1a;
	color:white;
 }
 h1, h2, h3{
 	font-family: 'Rubik', sans-serif;
 	font-weight: bold;
 	text-align: center;
 }

 p{
 	text-align: center;
 }

 a{
 	text-decoration: none;
 }

 img{
 	width: 800px;
 }

.try-ravels-now{
	width: 100%;
	min-height: 500px;
	margin-top: 30px;
}

html{
	scroll-behavior: smooth;
}